.banner_container{
    background-image: url("/images/Banner\ Image.png");
    background-repeat: no-repeat;
    height: 1320px;
    width: 1300px;
    text-align: center;
    padding: 190px 70px;
    
}
.banner_content1{
    color: white;
    font-weight:900;
    font-size:30px;
    
}
.banner_content{
    color: white;
    font-weight:900;
    font-size:50px;
    
}